<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CryptoCoins.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>045F24982CC63BF600ECEF57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045F24AE2CC63BF700ECEF57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045F24B82CC63BF700ECEF57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
